body {
    font-family: Arial, Helvetica, sans-serif;
}

body>header {
    color: white;
    background-color: dodgerblue;
    padding: 5px;
}

header>nav>ul>li {
    display: inline;
    list-style: none;

}

header>nav>ul>li>a {
    color: white;

}

body>footer {
    background-color: dodgerblue;
    color: white;
    text-align: center;
    padding: 1px
}

main {
    margin: auto;
    width: 70%;
}

input.right {
    float: right;
}

#comment {
    width: 100%;
}

.a {
    display: inline-block;
}